<% if user_signed_in? %>

<h1> You're Logged in! </h1>

<% else %>


		<div class="center hero-unit">

			<h1>Welcome to my rails project</h1> <br />
			<p>
				You found the homepage for my
				<%= link_to "One Month Rails", "http://onemonthrails.com" %>
				project
			</p>

			<p>
				<%= link_to "Sign Up Now!", new_user_registration_path , class: "btn btn-large btn-primary" %> 
			</p>

		</div>

<% end %>